<!DOCTYPE html>
<html>
<head>
  <title>Running station</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "running_station/application", media: "all" %>
  <%= javascript_include_tag "running_station/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
